.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  color: black;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

button {
  padding: 30px;
}

p {
  padding: 10px;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item17 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.item0 {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(164, 164, 164) !important;
  color: white;
  text-align-last: right;
  margin: 0;
}

.item4,
.item8,
.item12,
.item16,
.item19 {
  background-color: rgb(255, 81, 0) !important;
  color: white;
}
